.btn-primary {
    background-color: black;
    border-color: black;
}

h1 {
    font-weight: 700;
    font-size: 2cm;
}

.hero {
    background-color: #104EB2;
    text-align: center;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}