:root {
    --blu-color: #104EB2
}

.btn-primary {
    background-color: black;
    border-color: black;
    padding: 20px;
    margin-top: 70px;
}

h1 {
    font-weight: 700;
    font-size: 95px;
    margin: 40px 10px;
}

h3 {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.btn-branding-outline {
    border-radius: 3px;
    color: whitesmoke;
    background-color: var(--blu-color);
}

#WARNING {
color: red;
font-size: 40px;
}

.hero {
    background-color: var(--blu-color);
    text-align: center;
    color: whitesmoke;
    padding: 170px 20px;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 960px) {
    .project-description {
        padding:0;
        text-align: center;
    }
}

img {
    max-width: 200px;
}